@font-face {
  font-family: 'ATBold';
  src:url('../fonts/ATBold/ATBold.eot?-domxhp');
  src:url('../fonts/ATBold/ATBold.eot?#iefix-domxhp') format('embedded-opentype'),
    url('../fonts/ATBold/ATBold.woff?-domxhp') format('woff'),
    url('../fonts/ATBold/ATBold.ttf?-domxhp') format('truetype'),
    url('../fonts/ATBold/ATBold.svg?-domxhp#ATBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATLight';
  src:url('../fonts/ATLight/ATLight.eot?-domxhp');
  src:url('../fonts/ATLight/ATLight.eot?#iefix-domxhp') format('embedded-opentype'),
    url('../fonts/ATLight/ATLight.woff?-domxhp') format('woff'),
    url('../fonts/ATLight/ATLight.ttf?-domxhp') format('truetype'),
    url('../fonts/ATLight/ATLight.svg?-domxhp#ATLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATMed';
  src:url('../fonts/ATMed/ATMed.eot?-domxhp');
  src:url('../fonts/ATMed/ATMed.eot?#iefix-domxhp') format('embedded-opentype'),
    url('../fonts/ATMed/ATMed.woff?-domxhp') format('woff'),
    url('../fonts/ATMed/ATMed.ttf?-domxhp') format('truetype'),
    url('../fonts/ATMed/ATMed.svg?-domxhp#ATMed') format('svg');
  font-weight: normal;
  font-style: normal;
}
