.abm-logo {
  img {
    max-width: 100%;
    height: auto;
  }
  @include at-breakpoint($tablet) {

  }
}

.front-content-info {
  margin-top: 50px;
  font-weight: 600;
  color: $secondaryColor;
  @include font-size(26, 30);
}
